USE [RealEstateAgency]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[MiddleName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[DealShare] [float] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartments]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDistrict] [int] NULL,
	[Coordinate_latitude] [float] NULL,
	[Coordinate_longitude] [float] NULL,
	[TotalArea] [nvarchar](255) NULL,
	[Rooms] [float] NULL,
	[Floor] [float] NULL,
 CONSTRAINT [PK_apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartments_demands]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartments_demands](
	[Id] [int] NOT NULL,
	[IdDemands] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_apartments_demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[MiddleName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deals]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Demand_Id] [int] NULL,
	[Supply_Id] [int] NULL,
 CONSTRAINT [PK_deals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demands]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NULL,
	[IdAgent] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[MinArea] [float] NULL,
	[MaxArea] [float] NULL,
 CONSTRAINT [PK_Demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Coordinates] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[Addres_City] [nvarchar](50) NULL,
	[Address_Street] [nvarchar](50) NULL,
	[Address_house] [nvarchar](50) NULL,
	[Address_number] [float] NULL,
 CONSTRAINT [PK_districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[house-demands]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[house-demands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDemands] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[MinFloors] [int] NULL,
	[MaxFloors] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
 CONSTRAINT [PK_house-demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[houses]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[houses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDistrict] [int] NULL,
	[Coordinate_latitude] [float] NULL,
	[Coordinate_longitude] [float] NULL,
	[TotalFloors] [float] NULL,
	[TotalArea] [float] NULL,
 CONSTRAINT [PK_houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land-demands]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land-demands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDemands] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
 CONSTRAINT [PK_land-demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lands]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lands](
	[Id] [float] NOT NULL,
	[IdDistrict] [int] NULL,
	[Coordinate_latitude] [float] NULL,
	[Coordinate_longitude] [float] NULL,
	[TotalArea] [nvarchar](255) NULL,
 CONSTRAINT [PK_lands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplies]    Script Date: 17.11.2021 13:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplies](
	[Id] [int] NOT NULL,
	[Price] [float] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[IdDIstrict] [int] NULL,
 CONSTRAINT [PK_supplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[agents] ON 

INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
SET IDENTITY_INSERT [dbo].[agents] OFF
GO
SET IDENTITY_INSERT [dbo].[apartments] ON 

INSERT [dbo].[apartments] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (1, NULL, 0, 0, N'41.7', 1, 3)
INSERT [dbo].[apartments] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (2, NULL, 0, 0, N'105', 3, 5)
INSERT [dbo].[apartments] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor]) VALUES (3, NULL, 0, 0, N'62', 3, 2)
SET IDENTITY_INSERT [dbo].[apartments] OFF
GO
INSERT [dbo].[apartments_demands] ([Id], [IdDemands], [AgentId], [ClientId], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (1, NULL, 4, 23, NULL, 0, NULL, NULL)
INSERT [dbo].[apartments_demands] ([Id], [IdDemands], [AgentId], [ClientId], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (6, NULL, 7, 5, NULL, 0, 4, NULL)
INSERT [dbo].[apartments_demands] ([Id], [IdDemands], [AgentId], [ClientId], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (7, NULL, 24, 25, NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'32-25-55', N'')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', N'', N'dummy@email.ru')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', N'', N'client@esoft.tech')
SET IDENTITY_INSERT [dbo].[clients] OFF
GO
SET IDENTITY_INSERT [dbo].[deals] ON 

INSERT [dbo].[deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (1, 1, 1)
INSERT [dbo].[deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (2, 3, 2)
INSERT [dbo].[deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (3, 5, 3)
SET IDENTITY_INSERT [dbo].[deals] OFF
GO
SET IDENTITY_INSERT [dbo].[Demands] ON 

INSERT [dbo].[Demands] ([Id], [IdClient], [IdAgent], [Type], [Adress], [MinPrice], [MaxPrice], [MinArea], [MaxArea]) VALUES (1, 1, 1, N'House', N'Ленина 24', 24000.0000, 25000.0000, 50, 150)
INSERT [dbo].[Demands] ([Id], [IdClient], [IdAgent], [Type], [Adress], [MinPrice], [MaxPrice], [MinArea], [MaxArea]) VALUES (2, 4, 11, N'House', N'Любина 27', 25000.0000, 50000.0000, 150, 200)
INSERT [dbo].[Demands] ([Id], [IdClient], [IdAgent], [Type], [Adress], [MinPrice], [MaxPrice], [MinArea], [MaxArea]) VALUES (3, 5, 13, N'Apartments', N'Любина 29', 25000.0000, 50000.0000, 150, 200)
SET IDENTITY_INSERT [dbo].[Demands] OFF
GO
SET IDENTITY_INSERT [dbo].[districts] ON 

INSERT [dbo].[districts] ([Id], [Name], [Coordinates], [Type], [Addres_City], [Address_Street], [Address_house], [Address_number]) VALUES (1, N'name', N'area', N'Дом', N'Омск', N'Ленина', N'24', 25)
INSERT [dbo].[districts] ([Id], [Name], [Coordinates], [Type], [Addres_City], [Address_Street], [Address_house], [Address_number]) VALUES (2, N'Лесная поляна с/о', N'((57.0731042147057,65.549416154359),(57.0745884264208,65.5493517813426),(57.0745884264208,65.5516048369151),(57.0725432372756,65.5515404638987),(57.0731042147057,65.549416154359))', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[districts] ([Id], [Name], [Coordinates], [Type], [Addres_City], [Address_Street], [Address_house], [Address_number]) VALUES (3, N'Марай ', N'((56.8549652558969,66.014590740761),(56.8566110370811,66.0143332486955),(56.860184483092,66.0265212064592),(56.8588679902234,66.0328726774065),(56.8566110370811,66.0313277250139),(56.8532723765529,66.0339884763566),(56.8532253510366,66.0188822751848),(56.8530842741093,66.0194830900041),(56.8549652558969,66.014590740761))', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[districts] OFF
GO
SET IDENTITY_INSERT [dbo].[house-demands] ON 

INSERT [dbo].[house-demands] ([Id], [IdDemands], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinRooms], [MaxRooms]) VALUES (2, NULL, 4, 16, 0, 0, 0, 0)
INSERT [dbo].[house-demands] ([Id], [IdDemands], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinRooms], [MaxRooms]) VALUES (3, NULL, 19, 10, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[house-demands] OFF
GO
SET IDENTITY_INSERT [dbo].[houses] ON 

INSERT [dbo].[houses] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (9, NULL, 0, 0, 2, 84.4)
INSERT [dbo].[houses] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (10, NULL, 0, 0, 3, 130)
INSERT [dbo].[houses] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea]) VALUES (11, NULL, 0, 0, 1, 120)
SET IDENTITY_INSERT [dbo].[houses] OFF
GO
SET IDENTITY_INSERT [dbo].[land-demands] ON 

INSERT [dbo].[land-demands] ([Id], [IdDemands], [AgentId], [ClientId]) VALUES (4, NULL, 15, 12)
INSERT [dbo].[land-demands] ([Id], [IdDemands], [AgentId], [ClientId]) VALUES (5, NULL, 1, 14)
SET IDENTITY_INSERT [dbo].[land-demands] OFF
GO
INSERT [dbo].[lands] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (12, NULL, 0, 0, N'20.3')
INSERT [dbo].[lands] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (13, NULL, 0, 0, N'12.45')
INSERT [dbo].[lands] ([Id], [IdDistrict], [Coordinate_latitude], [Coordinate_longitude], [TotalArea]) VALUES (14, NULL, 0, 0, N'12')
GO
INSERT [dbo].[supplies] ([Id], [Price], [AgentId], [ClientId], [IdDIstrict]) VALUES (1, 2500000, 1, 2, NULL)
INSERT [dbo].[supplies] ([Id], [Price], [AgentId], [ClientId], [IdDIstrict]) VALUES (2, 5000000, 7, 8, NULL)
INSERT [dbo].[supplies] ([Id], [Price], [AgentId], [ClientId], [IdDIstrict]) VALUES (3, 1300000, 11, 12, NULL)
GO
ALTER TABLE [dbo].[apartments]  WITH CHECK ADD  CONSTRAINT [FK_apartments_districts1] FOREIGN KEY([IdDistrict])
REFERENCES [dbo].[districts] ([Id])
GO
ALTER TABLE [dbo].[apartments] CHECK CONSTRAINT [FK_apartments_districts1]
GO
ALTER TABLE [dbo].[apartments_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartments_demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[apartments_demands] CHECK CONSTRAINT [FK_apartments_demands_agents]
GO
ALTER TABLE [dbo].[apartments_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartments_demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[apartments_demands] CHECK CONSTRAINT [FK_apartments_demands_clients]
GO
ALTER TABLE [dbo].[apartments_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartments_demands_Demands] FOREIGN KEY([IdDemands])
REFERENCES [dbo].[Demands] ([Id])
GO
ALTER TABLE [dbo].[apartments_demands] CHECK CONSTRAINT [FK_apartments_demands_Demands]
GO
ALTER TABLE [dbo].[deals]  WITH CHECK ADD  CONSTRAINT [FK_deals_Demands] FOREIGN KEY([Demand_Id])
REFERENCES [dbo].[Demands] ([Id])
GO
ALTER TABLE [dbo].[deals] CHECK CONSTRAINT [FK_deals_Demands]
GO
ALTER TABLE [dbo].[deals]  WITH CHECK ADD  CONSTRAINT [FK_deals_supplies] FOREIGN KEY([Supply_Id])
REFERENCES [dbo].[supplies] ([Id])
GO
ALTER TABLE [dbo].[deals] CHECK CONSTRAINT [FK_deals_supplies]
GO
ALTER TABLE [dbo].[house-demands]  WITH CHECK ADD  CONSTRAINT [FK_house-demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[house-demands] CHECK CONSTRAINT [FK_house-demands_agents]
GO
ALTER TABLE [dbo].[house-demands]  WITH CHECK ADD  CONSTRAINT [FK_house-demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[house-demands] CHECK CONSTRAINT [FK_house-demands_clients]
GO
ALTER TABLE [dbo].[house-demands]  WITH CHECK ADD  CONSTRAINT [FK_house-demands_Demands] FOREIGN KEY([IdDemands])
REFERENCES [dbo].[Demands] ([Id])
GO
ALTER TABLE [dbo].[house-demands] CHECK CONSTRAINT [FK_house-demands_Demands]
GO
ALTER TABLE [dbo].[houses]  WITH CHECK ADD  CONSTRAINT [FK_houses_districts1] FOREIGN KEY([IdDistrict])
REFERENCES [dbo].[districts] ([Id])
GO
ALTER TABLE [dbo].[houses] CHECK CONSTRAINT [FK_houses_districts1]
GO
ALTER TABLE [dbo].[land-demands]  WITH CHECK ADD  CONSTRAINT [FK_land-demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[land-demands] CHECK CONSTRAINT [FK_land-demands_agents]
GO
ALTER TABLE [dbo].[land-demands]  WITH CHECK ADD  CONSTRAINT [FK_land-demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[land-demands] CHECK CONSTRAINT [FK_land-demands_clients]
GO
ALTER TABLE [dbo].[land-demands]  WITH CHECK ADD  CONSTRAINT [FK_land-demands_Demands] FOREIGN KEY([IdDemands])
REFERENCES [dbo].[Demands] ([Id])
GO
ALTER TABLE [dbo].[land-demands] CHECK CONSTRAINT [FK_land-demands_Demands]
GO
ALTER TABLE [dbo].[lands]  WITH CHECK ADD  CONSTRAINT [FK_lands_districts1] FOREIGN KEY([IdDistrict])
REFERENCES [dbo].[districts] ([Id])
GO
ALTER TABLE [dbo].[lands] CHECK CONSTRAINT [FK_lands_districts1]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_agents]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_clients]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_districts] FOREIGN KEY([IdDIstrict])
REFERENCES [dbo].[districts] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_districts]
GO
